
#menu {
  background-color: #1c2737;
  position: fixed;
  width: 300px;
  height: 100vh;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: #ffffff;
  display: block;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
html,body{
  max-width: 100%;
  overflow-x: hidden;
}
.profil1 img {
  max-width: 220px;
  border: 8px solid;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  color: #3b4a56;
  margin-top: 30px;
}
.profil1 h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.navbar {
  margin-top: 10px;
} 
nav ul {
  list-style: none;
  padding-left: 20px;
}
nav a,
.navbar-port ul a {
  text-decoration: none;
}
nav ul li {
  padding: 15px 10px;
  font: 16px "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #ffffff;
}
.social{
  margin-left: 20px;
}
.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border-radius: 9px;
  color: #ffffff;
  background-color: #3b4a56;
  margin: 3px;
  transition: 0.3s;
}
.navbar nav ul li:hover {
  color: #5ca189;
}
.social a:hover {
  background-color: #22e7a1;
}
main{
  background-color: #25303f;
  margin-left: 300px;
}
section{
  width: auto;
}
/* hero section */
#hero-section,
#A-propos,
#skills,
#Resume,
#portfolio,
#Services,
#Testimonials,
#contact{
  padding: 200px 15px;
}
.all_container{
  display: flex;
  gap: 20px;
}
.container h1{
  font:56px "Ubuntu",sans-serif;
  color:#f9fafb;
  font-weight: 300;
  margin-top: 0;
}
.container h1 span{
  text-decoration: underline;
  text-underline-offset: 15px; 
  text-decoration-thickness: 2px;
}
.container p{
  font:18px "Roboto",sans-serif;
  line-height: 1.8;
  color: color-mix(in srgb, #f3f4f6, transparent 20%);
  font-weight: 400;
}
.buttons{
  display: flex;
  padding: 10px;
  gap: 30px;
  margin-bottom: 30px;
}
.first{
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
  border-radius: 6px;
  justify-content: center;
  align-content: center;
  border: none;
}

.buttons .first:first-child {
  background-color: #22e7a1;
  font:16px "Roboto", sans-serif;
  font-weight: 500;
  transition:  transform 0.2s ease-in-out,background-color 0.3s ease;
  color: #1f2d3d;
}
.buttons .first:first-child:hover {
  background-color: #18b982;
  transform: translateY(-4px); 
}
.buttons .first:last-child {
  background-color:#25303f ;
  font:16px "Roboto", sans-serif;
  color: #f9fafb;
  font-weight: 500;
  border: 2px solid rgba(128, 128, 128, 0.425);
  transition: transform 0.2s ease-in-out, background-color 0.3s ease, border-color 0.1s ease, color 0.1s ease;
}
.buttons .first:last-child:hover{
  transform: translateY(-4px);   
  border-color: #22e7a1;      
  color: #22e7a1; 
}
.wrapper{
  display: flex;
  gap: 20px;
}
.projects{
  text-align: start;
}
.projects p {
  font: 14px "Roboto", sans-serif;
  font-weight: 400;
  color: color-mix(in srgb, #f9fafb, transparent 45%);
  margin: 6px 0 0;
}
.projects h2 {
  font: 32px "Roboto", sans-serif;
  font-weight: 500;
  color: #22e7a1;
  margin: 0;
  line-height: 1.1;
}
.photos{
  position:relative;
  flex: 0 0 auto;
  max-width: 500px;
  margin-top: 12px;
}
.card img{
  width: 100%;
  border-radius:12px;
  box-shadow: 0 20px 60px color-mix(in srgb, #f9fafb 15%, transparent 85%);
  display: block;
  height: auto;
  z-index: 1;
  transition: transform 0.3s ease;
}
.card:hover img{
  transform: scale(1.02);
}
.design{
  position: absolute;
  inset: 0;
}
.design p{
  color: #f9fafb;
  font: 14px "Roboto", sans-serif;
  background-color: #293443;
  height: 60px;
  line-height: 60px;
  padding: 0 28px;
  border-radius: 8px;
  justify-content: center;
  align-content: center;
  position: absolute;
  display: flex;
  box-shadow: 0 20px 60px color-mix(in srgb, #f9fafb 15%, transparent 85%);
  gap: 10px;
  z-index: 2;
  white-space: nowrap;
  transition: transform 0.23s ease;
  pointer-events: auto;
}
.design p:hover{
  transform: scale(1.05);
}
.design i{
  font-size: 20px ;
  color: #22e7a1;
}
.project{
  top: 80px;
  left: -40px;
}
.cameras{
  bottom: 60px;
  left:-40px;
}
.developpers{
  bottom: 100px;
  right:-50px;
}
/*all titre & paragraphe*/
.intro-port h2,
.for-title h2,
.for-titles h2,
.test-titre h2,
.contact-titre h2,
.titre h2 {
  font: 32px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 300;
  text-align: center;
}
.intro-port p,
.for-title p,
.for-titles p,
.titre p,
.test-titre p,
.contact-titre p {
  font: 16px "Roboto", sans-serif;
  color: #f3f4f6;
  text-align: center;
}
/* a-propos */
#A-propos{
 text-align: center; 
  padding: 60px 10px;
}
.Introduction h1{
  font:56px "Ubuntu",sans-serif;
  font-weight: 300;
  color: #f9fafb;
  text-align: center;
  margin: 0;
}
.Introduction p{
  font: 20px "Roboto",sans-serif;
  color:color-mix(in srgb, #f3f4f6, transparent 30%) ;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
.subvention{
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 50px;                    
  margin: 40px 0; 
} 
.all-subvention{
  max-width: 500px;
  text-align: left;
}
.division{
  margin-top: 20px;
}
.parts{
  font-size: 1.5rem;
  text-align: start;
}
.part img{
  width: 250px;
  height: 250px;
  border-radius: 10px; 
  margin-top: 30px;
}
.parts i,
.part1-division i {  
  font-size: 20px;
  color: #22e7a1;
  font-weight: 400;
}
.parts h3 {
  font: 14.4px "roboto", sans-serif;
  color: #f3f4f6;
}
.part p{
  font:14.4px "Roboto",sans-serif;
  color: color-mix(in srgb,#f3f4f6, transparent 20%);
}
.lead-text{
  font:20.8px "Roboto",sans-serif;
  line-height: 1.7;
  font-weight: 300;
  color: #f3f4f6;
}
.lead-texts{
  font:17.6px "Roboto",sans-serif;
  line-height: 1.8;
  color: color-mix(in srgb, #f3f4f6, transparent 15%);
}
.product{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-top: 0;
}
.division {
  display: inline-flex;
}
.part1-division {
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: color-mix(in srgb, #22e7a1, transparent 90%);
  display: flex;
  font-size: 20px;
  margin-right: 24px;
  font-weight: 300;
}
.part2-division h3 {
  color: #f3f4f6;
  font: 17.6px "Ubuntu", sans-serif;
  margin: 0;
}
.part2-division p {
  color: color-mix(in srgb, #f3f4f6, transparent 30%);
  font: 15.2px "Roboto", sans-serif;
  line-height: 1.6;
}
.marks{
  display: flex;
  align-items: flex-start; 
}
.quote {
  font: 80px "Roboto", sans-serif;
  color: color-mix(in srgb, #22e7a1, transparent 80%);
  font-weight: 300;
}
.parg {
  font: 19px "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.7;
  color: #f3f4f6;
  font-weight: 300;
  margin: 50px 0 0 0;
}
.number, .world {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: auto;
  border-top: 1px solid color-mix(in srgb, #f3f4f6, transparent 80%);
}
.number, .world{
  border-top: none;
  padding: 50px;
  gap: 10px;
}
.Development{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lines{
 background-color: color-mix(in srgb, #f3f4f6, transparent 80%) ;
  height: 1px;
  max-width: 80%;
  margin: 100px auto 0 auto;
}
.devel1{
  flex: 1;
  max-width: 400px; 
  text-align: start;
}
.devel1 h3 {
  font: 32px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 300;
}
.devel1 p {
  font: 17.6px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 20%);
  font-weight: 400;
  line-height: 1.7;
}
.view {
  font-weight: 400;
  border: none;
  cursor: pointer;
  padding: 18px 35px;
  border-radius: 8px;
}
.devel2{
  display: flex;
  gap: 15px;
}
.devel2 .view:first-child {
  background-color: #22e7a1;
  font:16px "Roboto", sans-serif;
  font-weight: 400;
  color: #1f2d3d;
  transition:  transform 0.2s ease-in-out,background-color 0.3s ease;
}
.devel2 .view:first-child:hover{
  background-color: #18b982;
  transform: translateY(-4px);
}

.devel2 .view:last-child {
  background-color:#25303f ;
  font:16px "Roboto", sans-serif;
  color: #f9fafb;
  font-weight: 500;
  border:  1px solid #f9fafb41;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease, border-color 0.1s ease, color 0.1s ease;
}
.devel2 .view:last-child:hover{
  transform: translateY(-4px);   
  border-color: #22e7a1;      
  color: #22e7a1;
}

.conclusion{
  background-color: #293341;
  display: flex;
  flex-direction: column; 
}
.num1 h2 {
  font: 72px "Ubuntu", sans-serif;
  font-weight: 300;
  color: #f9fafb;
  margin-bottom: 5px;
}
.num1 p {
  font: 16px "Roboto", sans-serif;
  color: rgba(243, 244, 246, 0.63);
  line-height: 1.6;
  font-weight: 500;
  margin-top: 0;
}
.session {
  display: flex;
  padding: 40px 0;
  gap: 10px;
  border-top: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%) 
}
.session-icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, #22e7a1, transparent 95%);
  margin-top: 5px;
}
.session-icon i {
  font-size: 24px;
  color: #22e7a1;
}
.session-phrase {
  position: relative;
  bottom: 20px;
  margin: 0;
  text-align: start;
}
.session-phrase h4 {
  font: 20px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.3;
}
.session-phrase p {
  font: 15px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 30%);
  line-height: 1.6;
  margin: 0;
}
/*skills*/
#skills{
  flex-direction: column;
  padding: 0 10px;
}
.skills-titre{
  position: relative;
  font-weight: 300;
}
.skills-titre::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom:-12px; 
  transform: translateX(-50%);         /* espace entre le texte et la ligne */
  width: 160px;            /* largeur totale de la ligne claire */
  height: 1px ;             /* épaisseur de la ligne */
  background-color: #cccccc6c;
  z-index: 1;
}
.skills-titre::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -13px;
  transform: translateX(-50%);
  width: 70px;             /* largeur de la partie verte */
  height: 3px;
  background-color: #2ecc71; 
  z-index: 2;
}
.for-titles > p{
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: rgb(243, 244, 246);
  font-weight: 400;
}
.context-skills{
  font:22px "Ubuntu",sans-serif;
  line-height: 1.8;
  font-weight: 300;
  color:color-mix(in srgb, #f3f4f6, transparent 35%) ;
  text-align: center;
  margin-top: 30px;
}
.skills-pourcent{
  display: flex;
  text-align: start;
  gap: 160px;
}
.skills-part1 {
  margin: 10px;
}
.stills-part {
  width: 616px;
  height: auto;
}
.skills-paragraph h3 {
  font: 24px "Ubuntu", sans-serif;
  color: #f3f4f6;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 40px;
}
.skills-paragraph p {
  font: 16px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 35%);
  margin-top: 0;
  padding-bottom: 15px; 
  padding-top: 8px;
  border-bottom: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
  font-weight: 300;
}
.all-fusion {
  display: flex;
  justify-content: space-between;
}
.skills-title {
  font: 18px "Roboto", sans-serif;
  color: #f3f4f6;
  font-weight: 300;
}
.bar {
  width: 100%;
  height: 2px;
  background: #243447;
  border-radius: 5px;
  overflow: hidden;
}
.skills-pregress {
  height: 100%;
  background: #22e7a1;
  font-weight: 500;
  width: 0;
}
.percent {
  color: #22e7a1;
  font: 14px "Roboto", sans-serif;
  font-weight: 500;
  padding-top: 10px;
}
.trophy {
  width: 250px;
  height: 300px;
  padding:30px;
  text-align: center;
  border: 1px solid rgba(245, 245, 245, 0.116);
  border-radius: 8px;
  background: color-mix(in srgb, #293443, #22e7a1 1%);
  margin-top: 20px;
}
.trophy-icon {
  color: #22e7a1;
  font-size: 70px;
  margin-top: 30px;
}
.trophy h4 {
  font: 20px "Ubuntu", sans-serif;
  color: #f9fafb;
  margin-bottom: 5px;
  font-weight: 300;
}
.numbers {
  margin: 25px;
  margin-right: 0;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 0;
}
.huit {
  font: 56px "Ubuntu", sans-serif;
  color: #22e7a1;
  font-weight: 200;
}
.an {
  font: 16px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 35%);
  margin-top: 35px;
  font-weight: 300;
}
.trophy p {
  font: 16px "Roboto", sans-serif;
  line-height: 1.7;
  color: color-mix(in srgb, #f3f4f6, transparent 35%);
  margin-top: 0;
}
.technologie {
  padding-top: 30px;
}
.technologie h5 {
  font: 18px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 400;
  margin: 0;
}
.tech {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  width: 100%;
}
.lang:hover{
  border-color: #22e7a1;
  color: #22e7a1;
  background-color: #22e7a210;
}
.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  background: #293443;
  border: 1px solid color-mix(in srgb, #f3f4f6, transparent 92%);
  gap: 10px;
  width: 140px;
  height: 50px;
  transition: transform 0.5s ease-in-out, background-color 0.3s ease, border-color 0.1s ease, color 0.1s ease;
}
.lang i {
  color: #22e7a1;
  font-size: 20px;
  margin-top: 10px;
}
.lang p {
  font: 14px "Roboto", sans-serif;
  font-weight: 400;
  color: #f3f4f6;
}
.recent h5 {
  font: 18px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 400;
  margin-bottom: 20px;
}
.recents {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.ach {
  display: flex;
  gap: 10px;
  padding-top: 20px; 
  padding-bottom: 15px; 
}
.ach .anne {
  font: 14px "Roboto", sans-serif;
  color: #22e7a1;
  font-weight: 500;
}
.ach .answ {
  font: 15px "Roboto", sans-serif;
  color: #f3f4f6;
  font-weight: 300;
  line-height: 1.5;
}
.ach:not(:last-child) {
  border-bottom: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
}
/*resume*/
#Resume{
  flex-direction: column;
  padding-top: 40px;
}
.about-titre{
  position: relative;
}
.about-titre::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom:-12px; 
  transform: translateX(-50%); 
  width: 150px;    
  height: 1px; 
  background-color: #cccccc71;
  z-index: 1;
}
.about-titre::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12.9px;;
  transform: translateX(-50%);
  width: 70px;    
  height: 3px;
  background-color: #2ecc71; 
  z-index: 2;
}
.resume-div{
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.for-title >p{
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: rgb(243, 244, 246);
  font-weight: 400;
}
.col1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}
.col2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.resume-educ h2{
  font: 32px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 300;
}
.resume-educ p {
  font: 17.6px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 40%);
  line-height: 1.7;
}
.icons {
  font-size: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.resume-educ .icons {
  background-color: color-mix(in srgb, #22e7a1, transparent 90%);
  justify-content: center;
  align-items: center;
  display: flex;
  color: #22e7a1;
}
.resume-experience {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.experience-title {
  font: 14.4px "Roboto", sans-serif;
  color: #22e7a1;
  margin-bottom: 10px;
  font-weight: 500;
}
.all h3 {
  font: 20.8px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 400;
}
.all h4 {
  font: 16px "Ubuntu", sans-serif;
  color: color(srgb 0.952941 0.956863 0.964706 / 0.7);
  margin-top: 0;
  font-weight: 500;
}
.experience-content{
  display: flex;
  gap: 10px;
}
.line{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #25303f;
  box-shadow:0 0 0 3px color-mix(in srgb,#22e7a1, transparent 80%);
  color: #22e7a1;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.line i{
  display: flex;
  align-items: center;
}
.timeline{
  position: relative;
  display: flex;
  gap: 20px;
}

.timeline::before{
  content: "";
  position: absolute;
  left: 8px;              /* centre du point */
  top: 20px;              
  width: 1px;
  height: 100%;
  background-color: rgba(34, 231, 161, 0.3);
  z-index: 1;
}

/* supprimer la ligne du dernier élément */
.timeline:last-child::before{
  display: none;
}

.experience-content p {
  font: 16px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 40%);
  line-height: 1.6;
}
.key {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  width: fit-content;
}
.all .keys {
  font-family:"Roboto", sans-serif;
  font-size: 13px;
  color: #f3f4f6cc;
  background-color: rgb(41, 52, 67);
  border-radius: 20px;
  border: 1px solid color-mix(in srgb, #f3f4f6, transparent 80%);
  font-weight: 500;
  padding: 5px 10px;
  white-space: nowrap;
}
.esp {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.education,
.educations {
  max-width:100%;
  border-radius: 10px;
  background-color: #293443;
  transition: all 0.3s ease;
  border: 1px solid #22e7a22d;
}
.education{
  border-top: 3px solid #22e7a1;
}
.icon {
  width: 35px;
  height: 35px;
  border-radius: 8px;
}
.icon i{
  font-size: 20px;
}
.education .icon,
.educations .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #22e7a1;
  background-color: color-mix(in srgb, #22e7a1, transparent 90%);
  margin: 30px;
  padding: 4px;
  margin-right: 10px;
}
.educ-phrase {
  margin-top: 20px; 
}
.bloc .educ-phrase h3 {
  font: 19.2px "Ubuntu", sans-serif;
  color: #f9fafb;
  margin: 0; 
  margin-top: 5px;
  font-weight: 400;
}
.bloc .educ-phrase p {
  font: 16px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 40%);
  margin-top: 10px; 
  margin-left: 0;
  
  font-weight: 500;
}
.educ-phrase span {
  font: 14.4px "Roboto", sans-serif;
  color: #22e7a1;
  font-weight: 500;
}
.education p,
.educations p {
  font: 15.2px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 40%);
  margin: 20px;
}
.colors {
  width: 120px;
  height: 25px;
  margin: 20px;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: color-mix(in srgb, #22e7a1, transparent 90%);
  color: #22e7a1;
}
.bloc {
  display: flex;
  align-items: flex-start;
  gap: 0;
}
.profession {
  width: 500px;
}
.profession >h4 {
  font: 17.6px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 400;
  margin-bottom: 20px;
}
.item-card {
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
  gap: 12px;
}
.item-card i {
  color: #22e7a1;
  font-size: 16px;
  display: flex;
  margin-top: 3px;
}
.item-details{
  display: flex;
  flex-direction: column;
}
.item-details h4 {
  font: 15.2px "Roboto", sans-serif;
  color: rgb(249, 250, 251);
  margin: 0;
  font-weight: 500;
}
.item-details p {
  margin-left: 50px;
  font: 13.6px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 40%);
  margin: 10px 0 10px;
}
.item-card:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
}
/* portfolio */
#portfolio{
  flex-direction: column;
  padding: 0;
}
.portfolio-titre{
  position: relative;
}
.portfolio-titre::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom:-12px; 
  transform: translateX(-50%); 
  width: 150px;    
  height: 1px; 
  background-color: #cccccc91;
  z-index: 1;
}
.portfolio-titre::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12.8px;
  transform: translateX(-50%);
  width: 70px;    
  height: 3px;
  background-color: #2ecc71; 
  z-index: 2;
}
.intro-port >p{
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: rgb(243, 244, 246);
  font-weight: 400;
}
.navbar-port {
  text-align: center;
}
.navbar-port ul {
  display: inline-flex;
  margin: 20px;
  list-style: none;
  gap: 30px;
}
.navbar-port ul li a {
  font: 16px "Ubuntu", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 40%);
  transition: all 0.2s ease;
}
.image-port {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  padding:20px;
}
.images1 {
  position: relative;
  transition: transform 0.3s ease;
}
.images1:hover{
  transform: translateY(-8px);
}
.images img {
  width: 490px;
  height: 300px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  z-index: 1;
}
.inter {
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  gap: 20px;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.images1:hover .inter {
  opacity: 1;
  visibility: visible;
}
.inter i {
  font-size: 18px;
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color:#25303f;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.inter i:hover {
  transform: scale(1.2);
  background-color: #22e7a1;
  color: #0d0d0d;
}
.images1:hover img {
  transform: scale(1.02); 
  opacity: 0.3;/* léger zoom */
}
.cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.contenu .text1 {
  font: 14px "Ubuntu", sans-serif;
  color: #22e7a1;
}
.contenu .an {
  margin-top: 10px;
  margin-right: 13px;
  font: 14px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 40%);
}
.contenu h2 {
  font: 24px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 300;
}
.contenu p {
  font: 15px Roboto, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: color-mix(in srgb, #f3f4f6, transparent 40%);
}
.navbar-port ul a li:hover {
  color: #f9fafb;
  text-decoration: underline #22e7a1;
}
#menu-btn{
  display:none;
}
/*service*/
#service{
  padding: 0;
}
.service-titre{
  position: relative;
}
.service-titre::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px; 
  transform: translateX(-50%); 
  width: 150px;    
  height: 1px; 
  background-color: #cccccc60;
  z-index: 1;
}
.service-titre::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom:-12.9px;
  transform: translateX(-50%);
  width: 70px;    
  height: 3px;
  background-color: #2ecc71; 
  z-index: 2;
}
.service-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
.service-section {
  width: 500px;
  height: 430px;
  transition: all 0.4s ease, box-shadow 0.4s ease;
  border-radius: 8px;
}
.service-section:hover {
  transform: scale(0.95);
}
 .icone i {
  font-size: 32px;
  color: #22e7a1;
  margin: 25px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 50%;
  background: color-mix(in srgb, #22e7a1, transparent 90%);
  transition: color 0.3s ease;
  transition: backgound-color 0.3s ease;
}
.content-service h3 {
  font: 28px "Ubuntu", sans-serif;
  color: #f9fafb;
  transition: all 0.3s ease;
  font-weight: 300;
  line-height: 1.3;
}
.content-service p {
  font: 16px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 20%);
  line-height: 1.7;
}
.content-service {
  margin: 25px;
}
.content-service .span,
.content-service i {
  font: 14px "Roboto", sans-serif;
  color: #22e7a1;
}
.service-section:hover {
  box-shadow: 0 20px 60px color-mix(in srgb, #f9fafb 15%, transparent 85%);
  transform: scale(0.98);
}
.content-service h3:hover {
  color: #22e7a1;
  cursor: pointer;
}
.content-service .span:hover,
.content-service i:hover {
  color: #f9fafb;
  cursor: pointer;
}
.service-section:hover .icone i{
  background-color: #22e7a1;
  color: #0d0d0d;
}
/*Testimonials*/
#Testimonials{
  padding: 40px 10px;
  max-width: 95%;
  height: auto;
  background-color: rgb(41, 51, 65);
  margin: 0 auto;
}
.test-title{
  position: relative;
}
.test-title::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px; 
  transform: translateX(-50%); 
  width: 180px;    
  height: 1px; 
  background-color: #cccccc70;
  z-index: 1;
}
.test-title::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -13px;
  transform: translateX(-50%);
  width: 80px;    
  height: 3px;
  background-color: #2ecc71; 
  z-index: 2;
}
.test-titre  > p{
  line-height: 1.6;
  letter-spacing: 0.3px;
}
.test-content {
  display: flex;
  flex-direction: column;
  margin:40px auto;
  border: 1px solid color-mix(in srgb, #f9fafb, transparent 90%);
  width: 80%;
  border-radius: 20px;
   background: linear-gradient(
    145deg,
    #3a4f68,
    #2b3b4f,
    #1f2d3d
  );
  border-top: 5px solid #22e7a1;
  padding: 30px;
}

.test-head {
  max-width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.star i {
  color: #ffc107;
  font-size: 24px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}
.point i {
  width: 60px;
  height: 60px;
  font-size: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, #22e7a1, transparent 10%);
}
.test-part {
  margin-right: 30px;
  max-width:100%;
  font: 20px "Roboto", sans-serif;
  line-height: 1.8;
  font-style: italic;
  text-align: center;
  color: color-mix(in srgb, #f9fafb, transparent 10%);
}
.test-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.test-profil img {
  width: 80px;
  height: 80px;
  border: 5px solid #22e7a1;
  border-radius: 50%;
  object-fit: cover;
}
.test-about{
  margin-top: 15px;
}
.test-about h4 {
  font: 22px "Ubuntu", sans-serif;
  color: #f9fafb;
  margin-bottom: 40px;
}
.poste {
  font: 16px "Roboto", sans-serif;
  color: #22e7a1;
  position: relative;
  bottom: 30px;
}
.authors {
  font: 15px "Roboto", sans-serif;
  color: color-mix(in srgb, #f9fafb, transparent 60%);
  position: relative;
  bottom: 40px;
}
/*contact*/
#contact{
  padding-top: 40px;
  padding-bottom: 40px;
}
.all-contact {
  display: flex;
  padding: 10px;
  gap: 40px;
}
.contact-title{
  position: relative;
}
.contact-titre > p{
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: rgb(243, 244, 246);
  font-weight: 400;
  margin: 0;
}
.contact-title::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;; 
  transform: translateX(-50%); 
  width: 180px;    
  height: 1px; 
  background-color: #cccccc54;
  z-index: 1;
}
.contact-title::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12.9px; 
  transform: translateX(-50%); 
  width: 90px;    
  height: 3px; 
  background-color: #22e7a1;
  z-index: 2;
}
.icon-msg{
  padding-top: 40px;
}
.icon-msg i{
  background-color: #22e7a215;
  width: 70px;
  height: 70px;
  border-radius :50%;
  color: #22e7a1;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect-msg h4{
 font: 24px "Ubuntu", sans-serif;
 color: #f9fafb; 
 margin-bottom: 0;
}
.connect-msg p{
  font: 16px "Roboto", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 25%);
  margin-bottom: 0;
}
.num-contact{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nombre{
  display:flex;
  gap:15px;
  align-items: flex-start;
}

.icon-numb i{
  font-size: 18px;
  color: #22e7a1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-part h4 {
  font-size: 13px ;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  color: color-mix(in srgb, #f3f4f6, transparent 25%);
  letter-spacing: 1px;
  margin: 0;
}
.icon-part p {
  font-size: 16px;
  font-family: "Roboto",sans-serif;
  color: #f3f4f6;
  line-height: 1.5;
}
.send-msg h3{
  font: 32px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 300
}
.formulaire {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formulaire .person {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.person input {
  width: 260px;
  height: 45px;
  border-radius: 8px;
  background: #293443;
  border: 1px solid #b5c0c92c;
  margin-top: 10px;
  transition: border 0.3s ease;
}
label {
  font: 14px "Roboto", sans-serif;
  color: #f9fafb;
  font-weight: 500;
}
.sujet input {
  width: 545px;
  height: 45px;
  border-radius: 8px;
  background: #293443;
  border: 1px solid #b5c0c92c;
  margin-top: 10px;
}
.comment textarea {
  width: 545px;
  height: 150px;
  border-radius: 8px;
  background: #293443;
  border: 1px solid #b5c0c92c;
  margin-top: 10px;
}
.send button {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  font: 15px "Roboto", sans-serif;
  display: flex;
  gap: 10px;
  background-color: #22e7a1;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  transition:transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
}
.send button:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 60px color-mix(in srgb, #22e7a1 15%, transparent 85%);
}
input:focus,
textarea:focus {
  border: 1px solid #22e7a1;
  outline: none;
}
.arrow-up{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #22e7a1;
  cursor: pointer;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-up i{
  color: #1f2937;
  font-size: 27px;
  font-weight: 400;
}
/*footer*/footer {
  margin-left: 300px; 
 /* width: 100%; */
  background-color: #293341;
  width: calc(100% - 300px);
}
.containt {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;  
  gap: 30px; 
}
.containt h3 {
  font: 36px "Ubuntu", sans-serif;
  color: #f9fafb;
  font-weight: 300;
  margin: 20px 0 0 0;
}
.fuga {
  font: 14px "Roboto", sans-serif;
  color: #f3f4f6;
  font-style: italic;
  margin: 0 ;
}
.socials i {
  width: 40px;
  height: 40px;
  background: #22e7a1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  font-size: 16px;
  color: #1f2d3d;
  margin: 2px;
}
.copyrigth {
  max-width:100%;
  border-top: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
}
.copyrigth p {
  font: 14px "Roboto", sans-serif;
  color: #f3f4f6;
}
/*responsive*/
@media (max-width:768px) {
    #menu{
      display: none;
      position: fixed;
      top:0;
      left: 0;
      width: 300px;
      height: 100vh;
      z-index: 999;
      background-color: #1c2737;
    }
    #menu-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0.8rem;
      right: 0.8rem;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background-color: #22e7a1;
      color: #1f2d3d;
      font-size: 20px;
      cursor: pointer;
      border: none;
      z-index: 999;
      transition: background-color 0.2s ease;
      font-weight: 300;
    }
    #menu-btn:hover{
      background-color: #28c996;
    }
    #menu.active{
      display: block;
    }

    main {
      margin-left: 0;
    }
    .photos{
      width: 100%; 
    }
    .all_container{
      flex-direction: column; 
      align-items: center;
    }
    .photos{
      order: 1;
    }
    .container{
      order: 2;
    }
    .project{
      top: 30px;
      left: 0;
    }
    .cameras{
     bottom: 20px;
     left:0;
    }
    .developpers{
     bottom: 150px;
     right:0;
    }
    .container h1{
      font-size: 35px;
      text-align: center; 
      margin-top: 20px;
    }
   .container h1 span{
    text-decoration: none;
    font-weight: 400;
   }
   .container p{
     text-align: center;
     font-size: 14.6px;
   }
   .buttons{
    flex-direction: column;
   }
   .wrapper{
    flex-direction: column;
   }
   .projects h2{
    font-size: 30px;
    line-height: 1.05;
    text-align: center;
    margin: 0;
   }
   .projects p{
    font-size: 14px;
   }
   .Introduction{
    text-align: center;
   }
   .Introduction h1{
    font-size: 35px;
   }
  .Introduction p{
    font-size: 18px;
  }
  .subvention{
    flex-direction: column;
  }
  .part img{
    margin-top: 0;
  }
  .quote{
    font-size: 50px;
  }
  .parg{
    font-size: 18px;
    margin: 40px 0 0 0;
  }
  .Development{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: stretch;
  }
  .devel1{
    flex: 0 0 auto;
    max-width: none;  
    width: 100%;
  }
  .devel1 h3{
    font-size: 28px;
  }
  .devel2{
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .view{
    width: 100%;
    min-width: unset;
  }
  .lines{
    max-width: 100%;
    margin: 0;
  }
  .conclusion{
    margin-top: 5rem;
  }
  .number, .world {
    flex-direction: column;
    align-items: stretch;
    width: 95%;
  }
  .num1 h2{
    font-size: 40px;
  }
 .world{
  margin-bottom: 0;
  padding: 10px;
 }
 .hide{
  display: none;
 }
 .context-skills{
  font-size: 20px;
  width: 98%;
 }
 .skills-pourcent{
  flex-direction: column;
 }
 .skills-part1{
  margin: 0;
  width: 450px;
 }
 .trophy{
  width: 85%;
  margin: 0 auto;
 }
 .technologie{
   margin: 0;
   padding-top: 30px;
 }
  .tech{
    grid-template-columns: 1fr;
  }
  .lang{
    justify-content: flex-start;
    text-align: left;
    padding-left: 10px;
    width: 98%;
  }
  .recent{
    margin: 0;
    padding: 0;
  }
  .ach{
    gap: 30px;
  }
  .resume-div{
    flex-direction: column;
  }

  .icons{
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .resume-educ h2{
    font-size: 23px;
  }
  .resume-educ p{
    font-size: 15.7px;
  }
  .key{
    grid-auto-flow: column;
  }
  .education,
  .educations{
    max-width: 90%;
  }
  .image-port{
    grid-template-columns: repeat(1,1fr)
  }
  .images img{
    width: 450px;
    align-items: center;
  }
  .intro-port > p{
   width: 98%;
  }
  .navbar-port ul{
    flex-wrap: wrap;
    padding: 20px;
  }
  .navbar-port ul li:last-child {
    margin: 10px auto 0;
  }
  .service-content{
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
  }
  .service-section {
    max-width: 93%;
    height: auto;
    margin: 0 auto;
  }
  .test-head{
    flex-direction: column;
    gap: 20px;
  }
  .star i{
    font-size: 19px;
  }
  .point i{
    width: 50px;
    height: 50px;
    font-size: 19px;
    margin-bottom: 20px;
  }
  .test-part{
    font-size: 15px;
    max-width: 100%;
    margin: 0;
    font-weight: 500;
  }
  .test-image{
   flex-direction: column;
   margin-top: 30px;
   margin-bottom: 0;
  }
  .test-profil img{
    width: 60px;
    height: inherit;
    border: 4px solid #22e7a1;
  }
  .test-about, .test-about h4{
    margin: 0;
  }
  .poste, .authors{
    bottom: 0;
    text-align: center;
  }
 .all-contact{
  flex-direction: column;
 }
 .send-msg{
  padding: 0;
 }
 .send-msg > h3{
  font-size: 25px;
  margin-top: 0;
 }
.formulaire .person {
  grid-template-columns: 1fr; 
  gap: 40px;
}
.person input, .sujet input, .comment textarea{
  width: 100%;
}
footer{
  margin-left: 0;
  width: 100%;
}
}




