header{
    background-color:#1c2737;
    position: fixed;
    width: 300px;
    height: auto;
    padding: 0 15px;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    color: #ffffff;
}
.profil1{
    text-align: center; 
    width: 270px;
    height: 298.79px; 
}
.profil1 img{
    max-width: 220px;
    border: 8px solid ; 
    border-radius: 20px;
    margin: 15px;
    display: block;
    color:#3b4a56;
}
.profil1 h1{
    font-family:'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 300;   
}
.navbar{
    margin-top: 10px;
}
nav ul{
    list-style: none;
    padding: 0; 
}
nav a , .navbar-port ul a{
    text-decoration: none;
}
nav ul li{
    padding: 15px 10px;
    font: 16px 'Raleway', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #ffffff;
}
.social a{
    display: inline-flex;
    justify-content:center;
    align-items: center;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 9px;
    color: #FFFFFF;
    background-color: #3b4a56;
    margin: 3px;
    transition: 0.3s;
} 
.navbar nav ul li:hover{
    color:#5ca189;
}
.social a:hover{
    background-color: #22E7A1;
}
section{
    display:flex;
    height: auto;
    width: 924px;
    position: relative;
    margin-left: 333px;
    background-color:#25303f;
    gap: 80px;  
}
.photos{
    position: relative;
    right: 570px;
}
.card{
    margin:300px;
}
.card img{
    max-width: 420px;
    height: 420px;
    position: absolute;
    right: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 60px color-mix(in srgb, #f9fafb 15%, transparent 85%);
    z-index: 1;
    transition: all 0.2s ease;
}
.design .project{
    width: 150px;
    height: 70px;
    position: absolute;
    margin: 80px;
    left: 20px;
    z-index: 2;
    border-radius:8px;
    background-color: #293443;
    transition: all 0.3s ease;
}
.project p,.cameras p,.developpers p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #f9fafb;
    font: 14px 'Roboto', sans-serif;
    padding: 10px;
}
.design .cameras{
    width: 150px;
    height: 70px;
    position: absolute;
    margin: 300px;
    right: 50px;
    z-index: 2;
    border-radius:8px;
    background-color: #293443;
    transition: all 0.3s ease;
}
.design .developpers{
    width: 140px;
    height: 70px;
    position: absolute;
    margin: 230px; 
    left: 220px;
    z-index: 2;
    border-radius:8px;
    background-color: #293443;
    transition: all 0.3s ease;
}
body{
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
}
.container{
    margin: 190px;
    position:relative;
    right: 160px;
}
.container h1{
    font-family: 'Ubuntu',sans-serif;
    font-size: 56px;
    line-height: 1.2;
}
.container p{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #b5c0c9;
    line-height: 1.8;
}
.buttons button{
    width: 150px;
    height: 70px;
    justify-content: space-between;
    margin:20px;
    border-radius: 15px;
    background-color: #25303f;
    border: 2px solid #3b4a56;
    color: #f9fafb;
    font: 16px 'Roboto',sans-serif;
    transition:all 0.3s ease;
    cursor: pointer;
}
div button:first-child {
    background-color: #22E7A1;
    border: 2px solid #22E7A1;
    color:#0d0d0d;
}
div
.wrapper .projects h2{
    font-size: 32px;
    font-family:'Roboto',sans-serif;
    color:#22e7a1
}
.wrapper{
    display: inline-flex;
    gap: 20px;
}
.wrapper .projects p{
    font: 14px 'Roboto', sans-serif;
}
 .card img:hover{
    transform: scale(1.2);
 }
 .project:hover,.cameras:hover,.developpers:hover{
    transform: scale(1.1);
 }
 button:hover{
    transform: scale(1.1);
    border-color: #22e7a1; 
    color: #22e7a1;
 }
 .project p i ,.cameras p i,.developpers p i{
    color: #22E7A1;
 }
 .uderline{
    border-bottom:2px solid #22e7a1;
    color: #22e7a1;
 }
 #A-propos{
    display:flex;
    flex-direction: column;
    background-color:#25303f;
    gap: 80px;
 }
 .Introduction{
    text-align:center;
    padding: 0 100px;
 }
 .Introduction h1{
    font: 56px 'Ubuntu',sans-serif;
    color: #f9fafb;
    margin-bottom: 10px;
    position: relative;
    right:5%;
 }
 .Introduction p{
    font: 20px 'Roboto',sans-serif;
    color:#b5c0c9;
    position: relative;
    right:5%
 }
 .subvention{
    display:flex;
    gap: 100px;
    position: relative;
    bottom:50px;
    padding-left:40px;
 }
 .part{
   position: relative;
   left:20px;
 }
 .part img{
    width: 250px;
    height: 250px;
    border-radius: 10%;
    margin-bottom: 20px;
 }
 .parts i{
   color: #22e7a1;
 }
 .parts h3{
    font:16px 'roboto', sans-serif;
    color: #f3f4f6;
 }
 .parts p{
    font-size: 14.4px 'Roboto',sans-serif;
    color: #f3f4f6;
    position: relative;
    bottom: 70px;
 }
 .statuts-dot{
    font-size: 100px;
    color: #22e7a1;
 }
 .paragraph{
    justify-content:center;
    align-items: center;
    position: relative;
    right: 20px;
 }
 p.lead-text{
    font:19px 'Roboto', sans-serif;
    color:#b5c0c9;
    position: relative;
    bottom: 20px;
    line-height: 1.7;
 }
 p.lead-texts{
    font: 17.6px 'Roboto',sans-serif;
    color: #b5c0c9;
    position: relative;
    bottom: 25px;
    line-height: 1.8;
 }
 .product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0;
    padding: 1rem;
    max-width: 600px;
    }
 .division{
      position: relative;
      bottom: 30px;
      display: flex;
      align-items: flex-start;
      gap: 1rem;;
    }
 .division i{
    width:30px;
    height:30px;
    border-radius: 8px;
    background: color-mix(in srgb,#22e7a1, transparent 70%);
    justify-content: center;
    align-items: center;
    color: #22e7a1;
    font-size: 30px;
    padding: 10px;
 }
 .division h3{
    color: #f3f4f6;
    font:17.6px 'Ubuntu',sans-serif;
    margin: 0;
 }
 .division p{
   width: 350px;
   height: 100px;
   color: #b5c0c9;
   font: 15.2px 'Roboto',sans-serif;
   margin:20px;
   line-height: 1.6;
   position: relative;
   right: 150px;
 }
 .marks{
   position: relative;
   right:830px;
   top: 700px;
 }
 .mark{
   font-size: 80px;
   font-family: 'Ubuntu',sans-serif;
   color: color-mix(in srgb,#22e7a1, transparent 80%);
   font-style: italic;
 }
 .parg{
    width: 450px;
    height: 100px;
 }
 .parg p{
   font:19.2px 'Roboto',sans-serif;
   color: #f3f4f6;
   font-style: italic;
   display: inline;
   margin: 20px; 
 }
 .Development{
    width: 690px;
    display:flex;
    text-align: center;
    margin:50px ;
    padding: 50px;
    position: relative;
    left: 50px;
    border-top: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
    padding-top: 10px;
 }
 .devel1 h3{
    font: 32px 'Ubuntu',sans-serif;
    color:#f9fafb;   
 }
 .devel1 p{
    font:17.6px 'Roboto',sans-serif;
    color: #b5c0c9;  
 }
 .devel1{
    width: 370px;
    height: 350px;
    padding-right: 10px;
    position: relative;
    top: 40px;
 }
 .devel1 button{
    min-width: 150px;
    height: 70px;
    border-radius: 15px;
    background-color: #25303f;
    border: 2px solid #3b4a56;
    color: #f9fafb;
    font: 16px 'Roboto',sans-serif;
    transition:all 0.3s ease;
    cursor: pointer;
    position: relative;
    top:140px;
    margin: 5px;
 }
 .conclusion{
    position: relative; 
    bottom: 150px;
    width: 100%;
    background-color: #293341; 
 }
 .number{
    display:inline-flex;
    margin: 20px;
    gap:40px;
    text-align: center;  
 }
 .number .num1{
    width: 250px;
    height: auto; 
 }
 .number .num2{
    width: 250px;
    height: auto;
 }
 .number .num3{
    width: 250px;
    height: auto; 
 }
 .num1 h2,.num2 h2,.num3 h2{
    font: 72px 'Ubuntu',sans-serif;
    color: #f9fafb;
    margin-bottom: 5px;
 }
 .num1 p,.num2 p, .num3 P{
    font:16px'Roboto',sans-serif;
    color:#f3f4f6;
    padding:0;
 }
 .session{
    display:inline-flex;
    margin: 20px;
    gap:10px;
    text-align: center;
    width: 250px;
    height: 250px; 
    padding: 60px 0;
    border-top: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
 }
 .session-icon i{
   width: 40px;
   height: 40px; 
   border-radius:8px;
   background: color-mix(in srgb,#22e7a1, transparent 70%);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #22e7a1;
   margin-top:5px;
   font: 16px'Roboto',sans-serif;
   gap: 0;
 }
.session-phrase h5{
    font: 20px 'Ubuntu',sans-serif;
    color: #f9fafb;
    margin-bottom: 5px;
    margin: 0;
    gap: 0;
} 
.session-phrase p{
    font: 15px 'Roboto',sans-serif;
    color:#b5c0c9;
}
#skills{
   display: flex;
   flex-direction: column;
   gap:0;
}
.skills-intro{
   width: 90%;
   height: auto;
   margin: 30px;
}
.skills-intro h2{
   font: 32px 'Ubuntu',sans-serif;
   color: #F9FAFB;
   text-align: center; 
   position: relative;
   bottom: 60px;
}
.skills-titre:before{
   content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: 
   color-mix(in srgb, #3a3d41, transparent 60%);
    background: color-mix(in srgb, #f3f4f6, transparent 60%);
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
}
.skills-titre::after{
   content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background:#22E7A1;
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
}
.skills-intro p{
   font: 16px 'roboto',sans-serif;
   color: #f3f4f6;  
}
.context-skills p{
   font:22px 'Ubuntu',sans-serif;
   color: #b5c0c9;
   margin: 40px;
   position: relative;
   bottom: 20px;
}
.stills-part{
   flex:2;
}
.champions{
   flex:1;
}
.skills-pourcent{
   display:flex;
   justify-content: space-between;
   align-items:flex-start;
   gap: 10px; 
}
.skills-part1{
   margin: 20px;
}
.skills-paragraph h3{
   font:24PX 'Ubuntu',sans-serif;
   color: #f3f4f6;
   margin-bottom:5px;
}
.skills-paragraph p{
   font: 16px 'Roboto',sans-serif;
   color: #b5c0c9;
   margin-top: 0;
   padding: 10px;
   border-bottom: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
}
.skills-title{
   font:18px 'roboto',sans-serif;
   color:#f3f4f6;
   margin-bottom: 4px;
}
.bar{
  width: 100%;
  height: 2px;
  background: #243447;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 0;
}
.skills-pregress{
  height: 100%;
  background:#22E7A1; 
  width: 0;
}
.percent {
  margin-top: 5px;
  color: #22E7A1;
  font-weight: bold;
  margin-left:95%;
}
.skills-list{
   padding: 10px;
}
.trophy{
   padding: 30px;
   width: 180px;
   height: auto;
   margin:20px;
   text-align: center;
   border-radius: 8px;
   background: color-mix(in srgb,#293443,#22e7a1 1%);
}
.trophy-icon span i{
   margin-top: 20px;
   color: #22E7A1;
   font-size: 48px;
}
.trophy h4{
   font: 20px 'Ubuntu',sans-serif;
   color: #F9FAFB;
   margin-bottom:5px;
}
.numbers{
   margin: 25px;
   margin-right:0;
   display: inline-block;
   margin-bottom: 5px;
   margin-top: 0;
}
.huit{
   font: 56px 'Ubuntu',sans-serif;
   color: #22E7A1;
}
.an{
   font: 16px 'Roboto',sans-serif;
   color: #b5c0c9;
   margin-top:35px;
}
.trophy p{
   font: 16px 'Roboto',sans-serif;
   color: #b5c0c9;
   margin-top: 0;
}
.technologie{
   margin: 10px;
   padding: 10px;
}
.technologie h5{
   font: 18px 'Ubuntu',sans-serif;
   color: #F9FAFB;
   margin: 20px;
}
.tech{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content:center;
   gap:10px;
   padding:10px;
}
.lang{
   width: 100px;
   height: 40px;
   border-radius: 8px;
   background: color-mix(in srgb,#293443,#22e7a1 1%);
   padding: 15px;
}
.lang i{
   color: #22E7A1;
   font-size: 20px;
}
.lang p{
   margin-left: 30px;
   bottom: 35px;
   position: relative;
   font: 14px 'Roboto',sans-serif;
   color: #f3f4f6;
}
.recent{
   margin: 10px;
   padding: 10px;
}
.recent h5{
   font: 18px 'Ubuntu',sans-serif;
   color: #F9FAFB;
   margin: 20px;
}
.recents{
   display:grid;
   grid-template-columns: repeat(1,1fr);
   justify-content: space-around;
   align-items: center;
}
.ach{
   display:flex;
   gap:10px;
   padding: 20px;
}
.ach .anne {
   font: 14px 'Roboto',sans-serif;
   color: #22E7A1;
}
.ach .answ{
   font: 15px 'Roboto',sans-serif;
   color: #f3f4f6;
}
.ach:not(:last-child){
   border-bottom: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
}
#portfolio{
   display: flex;
   flex-direction: column;
}
.intro-port{
   text-align: center;
   width: 90%;
   margin: 20px;
}
.intro-port h2{
   font: 32px 'Ubuntu',sans-serif;
   color: #F9FAFB;
}
.intro-port p{
   font:16px 'Roboto',sans-serif;
   color: #f3f4f6;
}
.navbar-port{
   width: 90%;
   height: auto;
   text-align: center;
   position: relative;
   bottom: 90px;
}
.navbar-port ul{
   display:inline-flex;
   padding: 50px;
   margin: 20px;
   list-style: none;
   gap: 30px;
}
.navbar-port ul a li{
   font:16px 'Ubuntu',sans-serif;
   color: color-mix(in srgb,#f3f4f6, transparent 40%);
   transition: alL 0.2s ease;
}
.image-port{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 140px;
}
.images1{
   width: 430px;
   height: 470px;
   margin-top: 20px;
   margin: 15px;
   transition: all 0.2s ease;
}
.images1 .images img{
   width: 420px;
   height: 300px;
   margin-top:10px;
   border-radius: 12px;
}
.contenu{
   margin-top: 20px;
}
.contenu span{
   font:14px 'Ubuntu',sans-serif;
   color: #22e7a1;
}
.contenu .an{
   padding-left: 290px;
   font: 14px 'Roboto', sans-serif;
   color:color-mix(in srgb,#f3f4f6, transparent 40%);
}
.contenu h2{
   font:24px 'Ubuntu',sans-serif;
   color: #F9FAFB;
}
.contenu p{
   font: 15px 'Roboto',sans-serif;
   color:color-mix(in srgb,#f3f4f6, transparent 40%);
}
.images img:hover{
   transform: scale(1.05);       
   filter: brightness(40%);      
}
.navbar-port ul a li:hover{
   color: #F9FAFB;
   text-decoration: underline #22E7A1;
}
#Resume{
   display: flex;
   flex-direction: column;
   padding: 10px;
}
.resume-intro{
   text-align: center;
   margin: 4px;
}
.resume-intro h2{
   font-family: 32px 'Ubuntu',sans-serif;
   color: #F9FAFB;
}
.resume-intro p{
   font: 16px 'Roboto',sans-serif;
   color: #F3F4F6;
}
.resume-div{
   display: flex;
   margin: 10px;
   gap:60px;
}
.col1{
   flex:2;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   gap:5px;
}
.col2{
   flex:3;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   gap:20px;
}
.resume-educ h2{
   font: 30px 'Ubuntu',sans-serif;
   color: #F9FAFB;
   font-weight:300;
}
.resume-educ p{
   font: 17.6px 'Roboto',sans-serif;
   color: color-mix(in srgb,#f3f4f6, transparent 40%);
   line-height: 1.7;
   margin: 0;
}
.icons{
   font-size: 25px;
   width: 60px;
   height: 60px;
   border-radius: 50%;
}
.resume-educ .icons{
   background-color:color-mix(in srgb,#22e7a1,transparent 90%);
   justify-content:center;
   align-items: center;
   display: flex;
   color: #22E7A1;
}
.resume-experience{
   padding: 10px;
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   gap:20px;
}
.experience-content{
   display: flex;
   gap:7px;
   overflow: hidden;
}
.experience-title{
   font: 14.4px 'Roboto',sans-serif;
   color: #22E7A1;
   margin-bottom: 10px;
}
.experience-content h3{
   font: 20.8px 'Ubuntu',sans-serif;
   color: #F9FAFB;
   margin-bottom: 5px;
   margin-top: 5px;
}
.experience-content h4{
   font:16px 'Ubuntu',sans-serif;
   color:color-mix(in srgb,#f3f4f6, transparent 40%);
   margin-top: 0;
}
.experience-content p{
   font:16px 'Roboto',sans-serif;
   color:color-mix(in srgb,#f3f4f6, transparent 40%);
   line-height: 1.6;
}
.key{
   display: flex;
   flex-direction: row;
   gap:10px;
   flex-wrap:wrap;
}
.keys{
   font:13.6px 'Roboto',sans-serif;
   color:color-mix(in srgb,#f3f4f6, transparent 40%);
   width: 130px;
   height: 30px;
   border-radius: 20px;
   border: 2px solid;
}
.keys{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
}
.education ,.educations{
   width: 500px;
   height: auto;
   border-radius: 10px;
   background-color:#293443;
   box-shadow: 0 20px 60px color-mix(in srgb, #f9fafb 15%, transparent 85%);
   transition: all 0.3s ease;
}
.esp{
    display: grid;
   grid-template-columns: repeat(1,1fr);
   gap: 15px;
   width: 500px;
}
.esp .education:first-child {
    border: 1px solid #22E7A1;
    border-top: 4px solid #22E7A1;
}
.icon{
   width: 30px;
   height: 30px;
   border-radius: 8px;
}
.education .icon ,.educations .icon{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #22E7A1;
   background-color:color-mix(in srgb,#22e7a1,transparent 90%) ;
   margin: 30px;
   padding: 4px;
   margin-right: 10px;
}
.educ-phrase{
   margin: 20px;
}
.bloc .educ-phrase h3{
   font: 19.2px 'Ubuntu',sans-serif;
   color:#F9FAFB;
   margin:0;
   margin-bottom: 5px;
}
.bloc .educ-phrase p{
   font:16px 'Roboto',sans-serif;
   color:color-mix(in srgb,#f3f4f6, transparent 40%);
   margin-top: 0;
   position: relative;
   right: 13px;
}
.educ-phrase span{
   font: 14.4px 'Roboto',sans-serif;
   color: #22E7A1;
}
.education p , .educations p{
   font:15.2px 'Roboto',sans-serif;
   color:color-mix(in srgb,#f3f4f6, transparent 40%);
   margin: 20px;
}
.colors{
   width: 150px;
   height: 30px;
   margin: 20px;
   justify-content: center;
   align-items: center;
   display: flex;
   border-radius: 8px;
   background-color: color-mix(in srgb,#22E7A1,transparent 80%);
}
.bloc{
   display: flex;
   align-items: flex-start;
   gap:0;
}
.profession{
   width: 500px;
   height: auto;
}
.profession h4{
   font:17.6px 'Ubuntu',sans-serif;
   color:#F9FAFB; 
  
}
.item-card{
   margin-bottom: 20px;
}
.item-card i{
   color: #22E7A1;
   font-size: 16px;
   display: flex;
}
.item-details h4{
   margin-left: 50px;
   font:15.2px 'Roboto',sans-serif;
   position:relative;
   bottom: 40px;
   margin-bottom: 5px;
}
.item-details span{
   margin-left: 50px;
   font: 13.6px 'Roboto',sans-serif;
   color:color-mix(in srgb,#f3f4f6, transparent 40%);
   margin-top: 0;
   position:relative;
   bottom: 35px; 
}
.item-card:not(:last-child){
   padding-bottom: 5px;
   border-bottom: 1px solid color-mix(in srgb, #f3f4f6, transparent 90%);
}
.skill-titre:before{
   content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, #3a3d41, transparent 60%);
    left: 0;
    right: 0;
    bottom:1315px;
    margin: auto;
    z-index:3;
}
.skill-titre::after{
   content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background:#22E7A1;
    left: 0;
    right: 0;
    bottom:1315px;
    margin: auto;
}
.timeline{
   position: relative;
   padding-left: 30px;
   margin-bottom: 30px;
   border-left: 2px solid #22E7A1;
}
















 
 
 

 





